.main {
    margin: 0;
    padding: 0;
}
.div_pag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.div_pag > .titule {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 20px 0 30px 0;
}

.descricao {
	padding: 30px 0;
    font-size: 17px;
    font-weight: 500;
    color: black;
}