.contener_lista {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 20px;
    background-color: var(--whitesmoke);
    max-width: 1780px;
}

.header_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    gap: 40px;
}

.titulo_list{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 1rem;
}

.contener_button {
    display: flex;
    align-items: flex-start;
}

.StarderButton {
    background-color: var(--dodgerblue);
    padding: 10px 20px;

    font-family: 'Poppins';
    color: var(--white);
    font-size: 15px;
    font-weight: 500;

    border: none;
    box-shadow: none;
    border-radius: 10px;
    transition: 0.3s;
}

.StarderButton:hover {
    background-color: var(--medium_dodgerblue);
}

.table_list {
    margin-top: 45px ;
    width: 100%;
    overflow-x: auto;
}

.tabela_geral {
    width: 100%;
    background-color: brown;
    border-radius: 5px ;
    border-collapse: separate;
    border-spacing: 0 20px;
}
.header_table {
    background-color: blue;
}

.colun_table, .dados_table{
    text-align: center;
}

.colun_table {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    color: black;
}


.div_buscar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: 10000;
    background-color: azure;
    overflow: auto;
    padding: 20px 0;
    top: 0;
    left: 0;
}

.header_buscar {
    margin: 1px auto;
    background-color: aquamarine;
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    z-index: 100000;
}

.input_buscar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.button_sair {
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid brown;
    width: 80%;
}